.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: var(--color-bg);
}
.nav__list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5rem;
    margin: 2rem auto;
    padding: 1rem;
}

.nav__link {
    font-size: 2rem;
    text-decoration: none;
    color: var(--color-fg);
    font-weight: bold;
    &:hover {
        color: var(--color-gray-light);
    }
}

@media (width >= 48em) {
    .nav__list {
        flex-direction: row;
    }
}