.addMovie {
    --_bg: var(--color-bg);
    --_fg: var(--color-fg);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2rem auto;
    padding: 1rem;
    .addMovie__form {
        display: grid;
        grid-template-areas: "titre titre titre real real real"
                            "annee annee annee duree duree duree"
                            "categorie categorie categorie categorie categorie categorie"
                            "desc desc desc desc desc desc"
                            "img img img lien lien lien"
                            "age age age age age age"
                            "buttons buttons buttons buttons buttons buttons";
        margin: 2rem;
        padding: 2rem;
        gap: 2rem;
        border: 1px solid var(--_bg);
        border-radius: 5px;
        .titre {
            grid-area: titre;
        }
        .real {
            grid-area: real;
        }
        .annee {
            grid-area: annee;
        }
        .duree {
            grid-area: duree;
        }
        .categorie {
            grid-area: categorie;
        }
        .desc {
            grid-area: desc;
        }
        .img {
            grid-area: img;
        }
        .lien {
            grid-area: lien;
        }
        .age {
            grid-area: age;
        }
        .buttons {
            grid-area: buttons;
            .button-ajouter {
                margin: 0.25rem 0;
                padding: 0.5rem;
                width: 5rem;
                cursor: pointer;
                border: none;
                color: var(--_fg);
                background-color: var(--_bg);
                border-radius: 5px;
            }
            .button-annuler {
                margin: 0.25rem 0;
                padding: 0.5rem;
                width: 5rem;
                cursor: pointer;
                border: none;
                color: var(--_bg);
                background-color: none;
                border-radius: 5px;
            }
        }
        .form__group {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            gap: 0.5rem;
        }
        .addMovie__form-info {
            padding: 0.5rem;
            width: 100%;
            border-radius: 5px;
            border: 1px solid var(--_bg);
        }
        .addMovie__form-desc {
            padding: 0.5rem;
            width: 100%;
            height: 10rem;
            border-radius: 5px;
            border: 1px solid var(--_bg);
        }
    }
}