@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,500;9..40,700&display=swap");

:root {
  /* Primitive Tokens */
  --color-black: hsl(253, 69%, 8%);
  --color-white: hsl(0, 0%, 100%);
  --color-gray-light: hsl(0, 0%, 80%);
  --color-gray: hsl(0, 0%, 50%);
  --color-gray-dark: hsl(0, 0%, 20%);

  --color-black-95: hsl(253, 69%, 8%, 0.95);
  
  /* Font Family */
  --ff-sans: "DM sans", sans-serif;
  
  /* Typography Scale - Golden Ratio */
  --fs-sm: 0.618rem;
  --fs-base: 1rem;
  --fs-md: 1.618rem;
  --fs-lg: 2.618rem;

  /* Font Weights */
  --fw-normal: 400;
  --fw-bold: 700;

  /* Font Styles */
  --fst-italic: italic;

  /* Line Height */
  --lh-base: 1.618;

  /* ── Spacing Scale ── */
  --space-xs: 0.382rem;
  --space-sm: 0.618rem;
  --space-md: 1rem;
  --space-lg: 1.618rem;
  --space-xl: 2.618rem;

  /* Sementic Tokens */
  --color-fg: var(--color-white);
  --color-fg-secondary: var(--color-gray-light);
  --color-bg: var(--color-gray-dark);
  --color-bg-overlay: var(--color-black-95);
  --color-accent: var(--color-gray);

  /* Semantic typography */
  --fs-meta: var(--fs-sm);
  --fs-body: var(--fs-base);
  --fs-h3: var(--fs-md);
  --fs-h2: var(--fs-lg);
}
