.updateProfile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: var(--space-md);
    color: var(--color-fg);
    background-color: var(--color-bg);
    .updateProfile__title {
        margin: var(--space-md);
        padding: var(--space-sm);
        font-size: var(--fs-h2);
    }
    .updateProfile__form {
        display: grid;
        grid-template-areas: "pseudo pseudo pseudo pseudo pseudo"
                            "avatar avatar avatar avatar avatar"
                            "age age age age age"
                            "buttons buttons buttons buttons buttons";
        margin: var(--space-lg);
        padding: var(--space-lg);
        gap: var(--space-lg);
        background-color: var(--color-bg-secondary);
        border: 2px solid var(--color-accent);
        border-radius: 0.5rem;
        .pseudo {
            grid-area: pseudo;
        }
        .avatar {
            grid-area: avatar;
        }
        .age {
            grid-area: age;
        }
        .buttons {
            display: flex;
            grid-area: buttons;
            gap: var(--space-md);
            .button-modifier {
                margin: var(--space-sm) 0;
                padding: var(--space-sm);
                width: 5rem;
                cursor: pointer;
                color: var(--color-fg);
                background-color: var(--color-accent);
                border: 1px solid var(--color-accent);
                border-radius: 0.5rem;
                &:hover {
                    background-color: var(--color-fg);
                    color: var(--color-bg);
                }
            }
            .button-annuler {
                margin: var(--space-sm) 0;
                padding: var(--space-sm);
                width: 5rem;
                cursor: pointer;
                color: var(--color-bg);
                border: 1px solid var(--color-accent);
                border-radius: 0.5rem;
                &:hover {
                    color: var(--color-fg);
                    background-color: var(--color-bg);
                }
            }
        }
        .form__group {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            gap: var(--space-sm);
        }
        .updateProfile__form-info {
            padding: var(--space-sm);
            width: 100%;
            color: var(--color-fg-secondary);
            background-color: var(--color-bg);
            border-radius: 0.5rem;
            border: 1px solid var(--color-accent);
            &:focus {
                color: var(--color-fg);
            }
        }
    }
}