<section class="movieFeatured">
    <div class="movieFeatured__header">
        <h2 class="movieFeatured__title">Mis en avant</h2>
        <!-- Buttons scroll -->
        <span class="movieFeatured__controls">
            <!-- this.closest('.movieFeatured').querySelector('.movieFeatured__list').scrollLeft => cible la liste concernée pour scroller de 300px vers la gauche ou la droite -->
            <button class="movieFeatured__btn" onclick="this.closest('.movieFeatured').querySelector('.movieFeatured__item').scrollLeft -= 300">
                <svg class="navbar__icon">
                    <use href="#icon-chevron-left"/>
                </svg>
                <span class="sr-only">Flèche gauche</span>
            </button>
            <button class="movieFeatured__btn" onclick="this.closest('.movieFeatured').querySelector('.movieFeatured__item').scrollLeft += 300">
                <svg class="navbar__icon">
                    <use href="#icon-chevron-right"/>
                </svg>
                <span class="sr-only">Flèche droite</span>
            </button>
        </span>
    </div>
    <ul class="movieFeatured__list">
        {{movies}}
    </ul>
</section>