.movie__detail {
    --_bg: var(--color-gray);
    --_fg: var(--color-fg);
    --_accent: var(--color-accent);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    padding: 2rem;
    color: var(--_fg);
    background-color: var(--_bg);
    .movie__title {
        margin: 2rem;
        font-size: 3rem;
        text-transform: capitalize;
    }
    .movie__film {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        margin: 0 2rem;
        gap: 1rem;
        .movie__affiche {
            margin: 1rem 0;
            width: 25rem;
            object-fit: cover;
        }
        .movie__infos {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            .movie__real {
                margin: 1rem 0;
                font-size: 1.5rem;
            }
            .movie__categorie {
                margin: 1rem 0;
                font-size: 1.5rem;
                text-transform: capitalize;
            }
            .movie__notes {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 1rem 0;
                gap: 2rem;
                font-size: 1.5rem;
            }
        }
    }
    .movie__trailer {
        margin: 2rem auto;
        padding: 2rem;
        width: 30rem;
        height: 25rem;
        border-right: 1px solid var(--_accent);
        border-left: 1px solid var(--_accent);
    }
    .movie__section {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        margin: 1rem 2rem;
        .movie__section-title {
            margin: 1rem 0;
            font-size: 2rem;
            text-transform: capitalize;
        }
        .movie__desc {
            margin: 1rem 0;
            font-size: 1.5rem;
            margin: 0;
        }
    }
}

@media (min-width: 992px) {
    .movie__detail {
        .movie__film {
            align-items: flex-start;
            flex-direction: row;
            gap: 2rem;
            .movie__infos {
                margin: 2rem 0;
                .movie__notes {
                    margin-top: 0;
                    gap: 2rem;
                }
            }
        }
        .movie__trailer {
            width: 35rem;
            height: 30rem;
        }
    }
}