.movie__detail {
    --_bg: var(--color-bg);
    --_fg: var(--color-fg);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--_fg);
    .movie__title {
        font-size: 3rem;
        text-transform: capitalize;
    }
    .movie__film {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 2rem;
        width: 25rem;
        height: fit-content;
        font-size: 3rem;
        text-transform: capitalize;
        background-color: var(--_bg);
        .movie__affiche {
            width: inherit;
            object-fit: cover;
        }
        .movie__infos {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 1rem;
            .movie__notes {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 1rem;
                font-size: 1.5rem;
            }
            .movie__trailer {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 1rem;
                width: 20rem;
                height: 15rem;
            }
            .movie__section-title {
                margin: 1rem;
                font-size: 2rem;
                text-transform: capitalize;
            }
        }
    }
}