<div class="movie__detail" id="{{id}}">
    <h2 class="movie__title">{{titre}}</h2>
    <figure class="movie__film">
        <img class="movie__affiche" src="{{img}}" alt="">
        <figcaption class="movie__infos">
            <p class="movie__real">{{realisateur}}</p>
            <p class="movie__categorie">{{categorie}}</p>
            <p class="movie__notes">
                <span class="movie__date">{{date}}</span>
                <span class="movie__duree">{{duree}}</span>
                <span class="movie__age">{{age}}</span>
            </p>
            <iframe class="movie__trailer" src="{{lien}}"></iframe> 
            <h3 class="movie__section-title">Synopsis</h3>
            <p class="movie__desc">{{desc}}</p>
        </figcaption>
    </figure>
</div>