.navbar {
  --_bg: var(--color-bg);
  --_fg: var(--color-fg);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 2rem auto;
  padding: 1rem 2rem;
  color: var(--color-bg);
  .navbar__title {
    font-size: 1.5rem;
  }
  .navbar__list {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin: 2rem;
    padding: 1rem;
    gap: 1rem;
    .navbar__item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 1rem auto;
      padding: 0.5rem 1rem;
      color: var(--_fg);
      background-color: var(--_bg);
      border: 2px solid var(--_fg);
      border-radius: 7px;
      cursor: pointer;
      transition: background-color 0.2s ease;
      &:hover {
        background-color: var(--_fg);
        color: var(--_bg);
      }
    }
  }
}
