.profile {
    --_fg: var(--color-fg);
    --_bg: var(--color-bg);
    --_accent: var(--color-accent);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 1rem;
    background-color: var(--_fg);
    .profile__title {
        font-size: 2rem;
    }
    .profile__list {
        display: flex;
        justify-content: center;
        align-items: center;  
        padding: 0;
        margin: auto;
        gap: 1rem;
        width: auto;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        .profile__item {
            padding: 1rem;
            border: 1px solid var(--_bg);
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            &:hover {
                background-color: var(--_bg);
            }
            &:active {
                border: 2px solid var(--_accent);
            }
            .cardProfile {
                display: flex;
                flex-direction: column;
                align-items: center;
                .cardProfile__avatar {
                    width: 100px;
                    height: 100px;
                    border-radius: 50%;
                    margin-bottom: 10px;
                }
                .cardProfile__infos {
                    text-align: center;
                    font-size: 1rem;
                    .cardProfile__pseudo {
                        font-weight: bold;
                        margin-bottom: 5px;
                    }
                    .label {
                        font-size: 1rem;
                        color: var(--_fg);
                        .tout_public {
                            color: var(--color-black);
                        }
                        .moins_10 {
                            color: var(--color-green);
                        }
                        .moins_12 {
                            color: var(--color-yellow);
                        }
                        .moins_16 {
                            color: var(--color-orange);
                        }
                        .moins_18 {
                            color: var(--color-red);
                        }
                    }
                }
            }
        }
    }
    .profile__button {
        margin: 2rem auto;
        padding: 1rem 2rem;
        font-size: 1rem;
        font-weight: bold;
        cursor: pointer;
        border: 2px solid var(--_accent);
    }
}