<form class="note">
    <label class="note__label">Noter :
        <span class="note__star">
            <svg class="note__star-icon_left">
                <use href="#icon-star-half"/>
            </svg>
            <svg class="note__star-icon_right">
                <use href="#icon-star-half"/>
            </svg>
        </span>
        <span class="note__star">
            <svg class="note__star-icon_left">
                <use href="#icon-star-half"/>
            </svg>
            <svg class="note__star-icon_right">
                <use href="#icon-star-half"/>
            </svg>
        </span>
        <span class="note__star">
            <svg class="note__star-icon_left">
                <use href="#icon-star-half"/>
            </svg>
            <svg class="note__star-icon_right">
                <use href="#icon-star-half"/>
            </svg>
        </span>
        <span class="note__star">
            <svg class="note__star-icon_left">
                <use href="#icon-star-half"/>
            </svg>
            <svg class="note__star-icon_right">
                <use href="#icon-star-half"/>
            </svg>
        </span>
        <span class="note__star">
            <svg class="note__star-icon_left">
                <use href="#icon-star-half"/>
            </svg>
            <svg class="note__star-icon_right">
                <use href="#icon-star-half"/>
            </svg>
        </span>
    </label>
</form>