.updateMovieFeature {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2rem auto;
    padding: 1rem;
    .updateMovieFeature__title{
        margin: 1rem;
        padding: 0.5rem;
        font-size: 1.5rem;
    }
    .updateMovieFeature__form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 2rem;
        padding: 2rem;
        gap: 2rem;
        border: 1px solid var(--color-bg);
        border-radius: 5px;
        .form__title {
            font-size: 1.25rem;
            font-weight: var(--fw-bold);
        }
        .button-modifier {
            margin: 0.25rem 0;
            padding: 0.5rem;
            width: 5rem;
            cursor: pointer;
            border: none;
            color: var(--color-fg);
            background-color: var(--color-bg);
            border-radius: 5px;
        }
        .button-annuler {
            margin: 0.25rem 0;
            padding: 0.5rem;
            width: 5rem;
            cursor: pointer;
            border: none;
            color: var(--color-bg);
            background-color: var(--color-fg);
            border-radius: 5px;
        }
    }
}