<nav class="navbar font-sans">
  <ul class="navbar__list">
    <!-- Accueil -->
    <li class="navbar__item navbar__item-home" onclick="{{hHome}}">
      <svg class="navbar__icon">
        <use href="#icon-home"/>
      </svg>
    </li>

    <!-- Recherche -->
    <li class="navbar__item">
      {{search}}
    </li>

    <!-- Statistiques -->
    <li class="navbar__item navbar__item-stat" onclick="{{hStats}}">
      <svg class="navbar__icon">
        <use href="#icon-stats"/>
      </svg>
    </li>

    <!-- Menu déroulant du profil -->
    <li class="navbar__item navbar__item--profile">
      <button class="navbar__profile-btn">
        <svg class="navbar__icon">
          <use href="#icon-profile"/>
        </svg>
        <span class="navbar__name">{{activeProfile}}</span>
        <span class="navbar__chevron">▾</span>
      </button>

      <ul class="navbar__dropdown">
        <li class="navbar__dropdown-item" onclick="{{hProfile}}">
          Changer de profil
        </li>

        <li class="navbar__dropdown-item" onclick="{{hFavorites}}">
          <svg class="navbar__icon">
            <use href="#icon-star-full"/>
          </svg>
          Mes favoris
        </li>
      </ul>
    </li>
  </ul>
</nav>
