<nav class="navbar">
  <h1 class="navbar__title">Que souhaitez-vous faire ?</h1>
  <ul class="navbar__list">
    <li class="navbar__item" onclick="{{hMovies}}">
      Ajouter un film
      <svg class="navbar__icon">
        <use href="#icon-arrow-right"/>
      </svg>
    </li>
    <li class="navbar__item" onclick="{{hFeaturedMovies}}">
      Modifier le statut d'un film
      <svg class="navbar__icon">
        <use href="#icon-arrow-right"/>
      </svg>
    </li>
    <li class="navbar__item" onclick="{{hProfiles}}">
      Ajouter un profil
      <svg class="navbar__icon">
        <use href="#icon-arrow-right"/>
      </svg>
    </li>
    <li class="navbar__item" onclick="{{hProfilesList}}">
      Modifier un profil
      <svg class="navbar__icon">
        <use href="#icon-arrow-right"/>
      </svg>
    </li>
  </ul>
</nav>