<section class="stats">
    <h2 class="stats__title">Vue d'ensemble</h2>
    <ul class="stats__list">
        <li class="stats__item">
            <p class="stats__value">{{total_profiles}}</p>
            <span class="stats__label">Profils créés</span>
        </li>
        <li class="stats__item">
            <p class="stats__value">{{total_movies}}</p>
            <span class="stats__label">Films au catalogue</span>
        </li>
        <li class="stats__item">
            <p class="stats__value">{{avg_favorites}}</p>
            <span class="stats__label">Films favoris en moyenne</span>
        </li>
        <li class="stats__item">
            <p class="stats__value">{{most_favorited_movie}}</p>
            <span class="stats__label">Film le plus populaire</span>
        </li>
        <li class="stats__item">
            <p class="stats__value">{{most_popular_category}}</p>
            <span class="stats__label">Catégorie la plus populaire</span>
        </li>
    </ul>
</section>